<!DOCTYPE html>
<html lang="en">
   <%- include('layouts/header'); -%>
    <body>
        <!-- Navigation-->
        <%- include('layouts/navbar'); -%>
        <!-- Page Header-->
        <header class="masthead" style="background-color:rgb(58, 61, 61)">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Book Your G2 or G Driving Test</h1>
                            <span class="subheading">Drive Test Booking Kios</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
      
       
        <!-- Footer-->
       <%- include('layouts/footer'); -%>
        <%- include('layouts/scripts'); -%>
    </body>
</html>

